.box {
  display: flex;
}

.confirm-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: auto;
  height: 100%;
  margin-top: 20px;
}
.confirm-form h1 {
  align-self: center;
  margin-bottom: 35px;
}
.confirm-box ul,
.confirm-box li {
  list-style: none;
}

.confirm-details {
  gap: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .confirm-details {
    flex-direction: row;
    gap: 130px;
    width: 100%;
    text-align: unset;
    align-items: initial;
  }
}
.confirm-box {
  width: 205px;
}

.confirm-box ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-direction: column;
}
.confirm-box li {
  margin: 0.5rem 0;
  width: auto;
  border-bottom: 1px solid #000;
}

.confirm-details li {
  color: #000;
}
