.btn {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 1px solid var(--purple);
  background: var(--white);
  color: var(--purple);
  transition: 0.3s;
}

.btn-sm {
  width: 100px;
}

.btn-md {
  width: 150px;
}

.btn-lg {
  width: 200px;
}

.btn-100 {
  width: 100%;
}

.btn-fit {
  width: fit-content;
  padding: 0 10px 0 10px;
}

.btn-primary {
  background: var(--purple);
  color: var(--white);
}

.btn-secondary {
  background: var(--white);
  color: var(--purple);
}

.btn:hover {
  background: var(--blue);
  border: 1px solid var(--blue);
  color: var(--white);
}

.btn:hover {
  background: var(--blue);
  border: 1px solid var(--blue);
}
