/* .input-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 10px 10px 0;
}

.label {
  margin-bottom: 10px;
}

.input {
  height: 30px;
  width: 310px;
  border: 1px solid var(--purple);
  border-radius: 30px;
  padding: 0 12px 0 10px;
  margin-bottom: 10px;
}

.input-small {
  width: 150px;
}

.input:focus {
  outline: none;
  border: 2px solid var(--blue);
} */
